<div class="header-background">
    <div class="container">
        <mat-toolbar color="primary">
            <span><img class="logoImg" src="./../assets/logo.png"></span>

            <span class="menus"></span>
            <a mat-button>AboutUs</a>
            <a mat-button>Team</a>
            <a mat-button>Gaychi Products</a>
            <a mat-button>FAQ</a>
            <a mat-button>Contact Us</a>
            <span class="menu-button"></span>
            <a mat-raised-button color="accent" class="button-connect">Connect</a>
        </mat-toolbar>
    </div>
</div>