.howItWork {
    background-image: url(./../../../assets/how-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    p {
        font-size: 14px;
        text-align: center;
        line-height: 19px;
        color: #fff;
    }
    img {
        width: 100%;
        object-fit: cover;
    }
}