<div class="roadMap">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center my-5">
                <div class="heading">
                    <h4>Road Map</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-3">
                <owl-carousel-o class="roadMapCarousel" [options]="customOptions">
                    <ng-template carouselSlide>
                        <img src="./../../../assets/img.png" />
                        <span><a>Chyimon Collection</a></span>
                    </ng-template>
                    <ng-template carouselSlide>
                        <img src="./../../../assets/img2.png" />
                        <span><a>Slime Collection</a></span>
                    </ng-template>
                    <ng-template carouselSlide>
                        <img src="./../../../assets/img3.png" />
                        <span><a>Pixel Collection</a></span>
                    </ng-template>
                    <ng-template carouselSlide>
                        <img src="./../../../assets/img.png" />
                        <span><a>Chyimon Collection</a></span>
                    </ng-template>
                    <ng-template carouselSlide>
                        <img src="./../../../assets/img2.png" />
                        <span><a>Gachyi Collection</a></span>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</div>