<div class="capsules-background">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center my-5">
                <div class="heading">
                    <h4>Capsules</h4>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-12">
                <owl-carousel-o class="capsulesCarousel" [options]="customOptions">
                    <ng-template carouselSlide>
                        <img src="./../../../assets/Banner.gif" />
                    </ng-template>
                    <ng-template carouselSlide>
                        <video controls>
                            <source src="https://file-examples-com.github.io/uploads/2017/04/file_example_MP4_480_1_5MG.mp4" type="video/mp4">
                          </video>
                    </ng-template>
                    <ng-template carouselSlide>
                        <img src="./../../../assets/Banner.gif" />
                    </ng-template>
                    <ng-template carouselSlide>
                        <video controls>
                            <source src="https://file-examples-com.github.io/uploads/2017/04/file_example_MP4_480_1_5MG.mp4" type="video/mp4">
                          </video>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</div>