<div class="team">
    <div class="row">
        <div class="col-md-12 text-center my-5">
            <div class="heading">
                <h4>Team Member</h4>
            </div>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-md-2">
            <img src="./../../../assets/team1.png">
        </div>
        <div class="col-md-1">
            <div class="teamText">
                <p>Founder</p>
            </div>
        </div>
        <div class="col-md-2">
            <img src="./../../../assets/team2.png">
        </div>
        <div class="col-md-1">
            <div class="teamText">
                <p>Neo Legal</p>
            </div>
        </div>
        <div class="col-md-2">
            <img src="./../../../assets/team3.png">
        </div>
        <div class="col-md-1">
            <div class="teamText">
                <p>Blockchain Austraila</p>
            </div>
        </div>
        <div class="col-md-2">
            <img src="./../../../assets/team4.png">
        </div>
        <div class="col-md-1">
            <div class="teamText">
                <p>Blank Name</p>
            </div>
        </div>
    </div>
</div>