.team {
    padding-top: 200px;
    .teamText {
        display: flex;
        height: 165px;
        color: #fff;
        font-size: 18px;
        p {
            writing-mode: vertical-rl;
            text-orientation: mixed;
            text-align: center;
        }
    }
    img {
        width: 100%;
        height: 165px;
        border-radius: 50%;
        border: 5px solid #FFE;
        padding: 5px;
    }
}