<div class="gachyi-background">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="gachyi-content">
                    <p class="first-p">WELCOME TO</p>
                    <p class="second-p">Gachyi Land</p>
                    <a mat-raised-button color="accent" class="button-connect my-3"><img src="./../../../assets/connectbtn.png" /></a>
                </div>
            </div>
        </div>
    </div>
</div>