/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: customFont;
    src: url(./assets/font-family/Righteous-Regular.ttf);
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: customFont !important;
    background: linear-gradient(116.95deg, #947cff 33.15%, #b6baff 100%);
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 999;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    opacity: 0.8;
    img {
        max-width: 130px;
    }
}

#myBtn:hover {
    opacity: 1;
}

.capsulesCarousel {
    .owl-nav {
        .owl-prev {
            position: absolute !important;
            left: 0px !important;
            bottom: 70px !important;
            padding: 0 !important;
            background: transparent !important;
        }
        .owl-next {
            position: absolute !important;
            right: 0px !important;
            bottom: 70px !important;
            padding: 0 !important;
            background: transparent !important;
        }
    }
    .owl-dots {
        position: absolute !important;
        bottom: 120px !important;
        left: 45% !important;
        .owl-dot.active span {
            width: 45px !important;
            background: #fff !important;
        }
    }
}

.roadMapCarousel {
    .owl-nav {
        .owl-prev,
        .owl-next {
            display: none !important;
        }
    }
    .owl-dots {
        position: absolute !important;
        bottom: -50px !important;
        left: 46% !important;
        .owl-dot.active span {
            width: 45px !important;
            background: #fff !important;
        }
    }
}

.mat-fab .mat-button-wrapper {
    padding: 0 !important;
}

.mat-form-field {
    .mat-select,
    .mat-label {
        font-size: 14px;
    }
}

.heading {
    h4 {
        font-size: 40px;
        font-weight: 600;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin: 0;
        position: relative;
    }
    h4::before {
        content: "";
        width: 34%;
        height: 50px;
        display: block;
        background: url(./assets/titleArrow.png) no-repeat scroll 0 0/ 100% 100%;
        position: absolute;
        left: 12px;
        bottom: -13px;
    }
    h4::after {
        content: "";
        width: 34%;
        height: 50px;
        display: block;
        background: url(./assets/titleArrow.png) no-repeat scroll 0 0/ 100% 100%;
        position: absolute;
        right: 12px;
        bottom: -13px;
    }
}